<h1>Employee Data</h1>

<label>Name:</label>
<input type="text" [(ngModel)]="name"><br>
<label>Experience:</label>
<input type="number" [(ngModel)]="experience"><br>
<label>Package:</label>
<input type="number" [(ngModel)]="package"><br>
<label>Role:</label>
<input type="text" [(ngModel)]="rolee"><br>
<button (click)="add()">Add Employee</button><br>

<button class="btn btn-success" (click)="bonus()">Add 30k Bonus</button>
<button class="btn btn-warning" (click)="CostToCompany()">Cost to Company</button>


<button (click)="packageHighToLow()" class="btn btn-primary">Package: High to low</button><br>

<select [(ngModel)]="role" (change)="roleFilter()">

    <option value="UIDeveloper">UI Developer</option>
    <option value="Software Developer">Software Developer</option>
    <option value="Data engineer">Data engineer></option>
    <option value="Test engineer">Test engineer</option>
</select>
<input type="text" placeholder="Enter text to search" [(ngModel)]="term" (keyup)="search()">

<table border="2" [cellSpacing]="0" [cellPadding]="0">

    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.experience}}</td>
             <td>{{employee.package}}</td> 
             <td>{{employee.role}}</td> 
             <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
                 
        </tr>
    </tbody>
</table>

