<div class="parent">
    <div class="left">
        
        <h1 routerLink="My Website">MyWebsite</h1><hr>
        <h3 routerLink="Home">Home</h3>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="databinding">Data Binding</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3><hr>
        <h3 routerLink="/dashboard/Directives">Directives</h3>

        <button>Logout</button>
    </div> 
<div class="right">
    <router-outlet></router-outlet>
</div>
